.leaflet-container{
  z-index: 0;
  width: 100vw;
  height: 100vh;
}
body{
  margin: auto;
}
body {
  background-image: radial-gradient(
    circle,
    #ADF7B6 10%,
    #FFEE93 35%,
    #FFC09F 100%
  );
  overflow: hidden;
}
.container {
  min-height: inherit;
}

.container,
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo{
  width: 40vw;
  margin-top: 20vh;
}
.logo-two{
  width: 25vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.enter {
  display: flex;
  padding: 20px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  height: 25px;
  left: 17px;
  right: 16px;
  font-family: Wingdings;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 0px;
  margin-top: 3vh;
}