.modal {
  margin-left: 50vw;
  margin-right: 10vw;
  background: none;
}

.dialog-text {
  height: 45vh;
  margin-top: 20vh;
  border-radius: 6px;
  background-image: radial-gradient(circle,
      #ADF7B6 10%,
      #FFEE93 35%,
      #FFC09F 100%);

}

.form-box {
  margin-left: 7vw;
  margin-right: 20vw;
  padding: 5px 50px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3vh;
}

.buttinz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1vh;
}